/*! Add all base element styles into this style sheet */
body {
  font-family: $body-font;
}

article {
  padding: 0 0 1.0rem;
}

@for $i from 1 through 6 {
  h#{$i} {
    font-family: $heading-font;
  }
}

pre {
  border-top: $code-border;
  border-bottom: $code-border;
}

pre > code.hljs {
  background-color: map-get($white, $hex);
  background-color: map-get($white, $hsla);
  padding: 0.5rem 10%;
  width: 80%;
}
