// Add all variables into this style sheet

// Fonts
$body-font: "Roboto", sans-serif;
$heading-font: "Overpass Mono", sans-serif;

// Font Sizes


// Colors
// Keys (Color Palette 1)
$hex: "hex"; $hsla: "hsla"; $rgba: "rgba";
// (Color Palette 1)
$jet:
  (hex: #353535,
  hsla: hsla(0%, 0%, 21%, 1),
  rgba: rgba(53, 53, 53, 1));
$white:
  (hex: #ffffff,
  hsla: hsla(0%, 0%, 100%, 1),
  rgba: rgba(255, 255, 255, 1));
$gainsboro:
  (hex: #d9d9d9,
  hsla: hsla(0%, 0%, 85%, 1),
  rgba: rgba(217, 217, 217, 1));
$blue-sapphire:
  (hex: #175676,
  hsla: hsla(200%, 67%, 28%, 1),
  rgba: rgba(23, 86, 118, 1));
$yellow:
  (hex: #ffd400,
  hsla: hsla(50%, 100%, 50%, 1),
  rgba: rgba(255, 212, 0, 1));

// (Color Palette 2)
$light-grey:
  (hex: #d9d1ce,
  hsla: hsla(16, 13%, 83%, 1),
  rgba: rgba(217, 209, 206, 1));
$grey:
  (hex: #b0a39d,
  hsla: hsla(19, 11%, 65%, 1),
  rgba: rgba(176, 163, 157, 1));
$turquois:
  (hex: #d9d1ce,
  hsla: hsla(183, 42%, 44%, 1),
  rgba: rgba(65, 154, 158, 1));
$dark-blue:
  (hex: #20233d,
  hsla: hsla(234, 31%, 18%, 1),
  rgba: rgba(32, 35, 61, 1));
$red:
  (hex: #c11b05,
  hsla: hsla(7, 95%, 39%, 1),
  rgba: rgba(193, 27, 5, 1));
$orange:
  (hex: #f68948,
  hsla: hsla(246, 137, 72, 1),
  rgba: rgba(22, 91%, 62%, 1));


// Borders
$code-border: solid 1px map-get($grey, $hsla);

// Breakpoints
$small-break: "only screen and (max-width: 46em)"; // Less than
$medium-break: "only screen and (min-width: 46em)"; // Greater than
$large-break: "only screen and (min-width: 60em)"; // Greater than
