//- Parameters:
//-    -project_headings: 2 item array with the link path as first item and subheading as second item
mixin breadcrumbs(...project_headings)
  aside.breadcrumbs
    ul
      each heading in project_headings
        li
          a(href='' + heading[0]) #{heading[1]}