//- includes/foot.pug
footer.parent
  .links
    a(href='style-guide.html') Style Guide
    span  | 
    a(href='citations.html') Citations
    span  | 
    a(href='https://github.com/dfpera/Portfolio') Repository
    p.copyright Daniele Perazzolo &copy; 2019