//- modules/head.pug
mixin head(title)
  head
    meta(charset='utf-8')
    link(rel='shortcut icon', type='image/png', href='/img/favicon.png')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title
    script.
      document.getElementsByTagName("html")[0].className += " js";
    link(rel='stylesheet', href='/css/main.css')