<!--[if lt IE 9]>
	<script src="bower_components/html5shiv/dist/html5shiv.js"></script>
<![endif]-->
script(src='/js/jquery-3.2.0.min.js')
script(src='/js/imagesloaded.min.js')
script(src='/js/isotope.min.js')
script(src='/js/highlight.pack.js')
script(src='/js/parallax.min.js')
script(src='/js/main.js')