:root, [data-theme="default"] {
    // main
    --color-primary-darker: hsl(22, 75%, 42%);
    --color-primary-dark: hsl(22, 80%, 48%);
    --color-primary: hsl(22, 91%, 62%);
    --color-primary-light: hsl(22, 90%, 63%);
    --color-primary-lighter: hsl(22, 90%, 92%);
    --color-primary-a20: hsla(22, 90%, 56%, 0.2);

    --color-accent-darker: hsl(183, 75%, 48%);
    --color-accent-dark: hsl(183, 80%, 54%);
    --color-accent: hsl(183, 42%, 44%);
    --color-accent-light: hsl(183, 90%, 68%);
    --color-accent-lighter: hsl(183, 89%, 93%);

    // black + white
    --black: hsl(234, 31%, 18%);
    --black-a10: hsla(234, 31%, 18%, 0.1);
    
    --white: hsl(0, 0%, 100%);

    // feedback
    --color-success-darker: hsl(94, 40%, 45%);
    --color-success-dark: hsl(94, 45%, 50%);
    --color-success: hsl(94, 48%, 56%);
    --color-success-light: hsl(94, 48%, 62%);
    --color-success-lighter: hsl(94, 48%, 92%);
    --color-success-a20: hsla(94, 48%, 56%, 0.2);

    --color-error-darker: hsl(7, 75%, 48%);
    --color-error-dark: hsl(7, 80%, 54%);
    --color-error: hsl(7, 95%, 39%);
    --color-error-light: hsl(7, 90%, 68%);
    --color-error-lighter: hsl(7, 89%, 93%);
    --color-error-a20: hsla(7, 90%, 61%, 0.2);

    --color-warning-darker: hsl(50, 90%, 50%);
    --color-warning-dark: hsl(50, 95%, 55%);
    --color-warning: hsl(50, 100%, 50%);
    --color-warning-light: hsl(50, 100%, 68%);
    --color-warning-lighter: hsl(50, 100%, 91%);
    --color-warning-a20: hsla(50, 100%, 61%, 0.2);

    // bg
    --color-bg: hsl(0, 0%, 100%);
    --color-bg-a20: hsla(0, 0%, 100%, 0.2);

    // TODO: color contrast
    --color-contrast-cold-lower: hsl(0, 0%, 95%);
    --color-contrast-cold-low: hsl(0, 0%, 83%);
    --color-contrast-cold-medium: hsl(240, 1%, 47%);
    --color-contrast-cold-high: hsl(255, 4%, 20%);
    --color-contrast-cold-higher: hsl(240, 7%, 12%);
    --color-contrast-cold-a90: hsla(240, 7%, 12%, 0.9);

    --color-contrast-warm-lower: hsl(0, 0%, 95%);
    --color-contrast-warm-low: hsl(0, 0%, 83%);
    --color-contrast-warm-medium: hsl(240, 1%, 47%);
    --color-contrast-warm-high: hsl(255, 4%, 20%);
    --color-contrast-warm-higher: hsl(240, 7%, 12%);
    --color-contrast-warm-a90: hsla(240, 7%, 12%, 0.9);

    // semantic
    --color-border: var(--color-contrast-cold-low);
}

[data-theme] {
    background-color: var(--color-bg);
    color: var(--color-contrast-high);
}