:root, [data-theme="default"] {
    // main
    --color-primary-darker: hsl(24, 100%, 3%);
    --color-primary-dark: hsl(22, 55%, 47%);
    --color-primary: hsl(22, 91%, 62%);
    --color-primary-light: hsl(21, 99%, 72%);
    --color-primary-lighter: hsl(22, 100%, 83%);
    --color-primary-a30: hsla(22, 90%, 56%, 0.3);

    --color-accent-darker: hsl(182, 31%, 21%);
    --color-accent-dark: hsl(184, 39%, 34%);
    --color-accent: hsl(183, 42%, 44%);
    --color-accent-light: hsl(183, 31%, 58%);
    --color-accent-lighter: hsl(182, 29%, 75%);

    // black + white
    --color-black: hsl(234, 32%, 18%);
    --color-black-a80: hsla(234, 31%, 18%, 0.8);
    --color-black-a10: hsla(234, 31%, 18%, 0.1);
    
    --color-white: hsl(0, 0%, 100%);

    // feedback
    --color-success-darker: hsl(93, 30%, 17%);
    --color-success-dark: hsl(94, 35%, 34%);
    --color-success: hsl(94, 48%, 56%);
    --color-success-light: hsl(93, 48%, 66%);
    --color-success-lighter: hsl(91, 49%, 79%);
    --color-success-a20: hsla(94, 48%, 56%, 0.2);

    --color-error-darker: hsl(12, 81%, 19%);
    --color-error-dark: hsl(9, 88%, 31%);
    --color-error: hsl(7, 96%, 39%);
    --color-error-light: hsl(12, 67%, 55%);
    --color-error-lighter: hsl(13, 73%, 64%);
    --color-error-a20: hsla(7, 90%, 61%, 0.2);

    --color-warning-darker: hsl(48, 66%, 26%);
    --color-warning-dark: hsl(49, 80%, 42%);
    --color-warning: hsl(50, 100%, 50%);
    --color-warning-light: hsl(48, 100%, 70%);
    --color-warning-lighter: hsl(47, 100%, 83%);
    --color-warning-a20: hsla(50, 100%, 61%, 0.2);

    // bg
    --color-bg: hsl(0, 0%, 100%);
    --color-bg-a20: hsla(0, 0%, 100%, 0.2);

    --color-contrast-lower: hsl(24, 12%, 92%);
    --color-contrast-low: hsl(16, 13%, 83%);
    --color-contrast-medium: hsl(18, 11%, 65%);
    --color-contrast-high: hsl(20, 5%, 36%);
    --color-contrast-higher: hsl(20, 4%, 15%);
    --color-contrast-a45: hsla(18, 11%, 65%, 0.45);

    // semantic
    --color-border: var(--color-contrast-low);
}

[data-theme] {
    background-color: var(--color-bg);
    color: var(--color-contrast-high);
}