:root {
    --zindex-header: 2;
    --zindex-fixed-element: 5;
    --zindex-overlay: 10; // modals and dialogs

    // Breadcrumbs
    --zindex-breadcrumbs-checkbox: 30;
    --zindex-breadcrumbs-span: 20;
    --zindex-breadcrumbs-ul: 10;
}