:root {
    --zindex-header: 50;
    --zindex-main-navigation: 60;
    --zindex-overlay: 100; // modals and dialogs

    // Breadcrumbs
    --zindex-breadcrumbs-checkbox: 30;
    --zindex-breadcrumbs-span: 20;
    --zindex-breadcrumbs-ul: 10;
}