!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Citations - Daniele Perazzolo
    %link{:rel => "stylesheet", :href => "css/main.css"}
    %link{:rel => "stylesheet", :href => "js/styles/atom-one-light.css"}
  %body
    / START HEADER
    %header
      %div.fixed-nav
        %div.hide-sm.logo.col-sm-12.col-md-4
          %a{:href => "index.html"} DPerazzolo
        -#     %img{:src => "img/logo.png", :alt => "Daniele Perazzolo Logo"}
        %nav.main.col-sm-12.col-md-8
          %a{:href => "index.html#about"} About
          %a{:href => "index.html#projects"} Projects
          %a{:href => "index.html#contact"} Contact
      %div.banner{:data => {:parallax => "scroll", :img_src => "img/background.jpg"}}
        %div.intro
          %p portfolio:~ daniele$ cd /home/Citations
          %p portfolio:Citations daniele$ basename /home/Citations
          %h1 Citations
          %p.cursor portfolio:Citations daniele$
    / END HEADER
    / START CONTENT
    %article.col-offset-md-4.col-md-8.col-lg-8
      %h2 Citations
      %section.anchor.col-md-9.col-lg-8
        %p Syntax Highlighting (https://highlightjs.org/)
        %p Heading Fonts (https://fonts.google.com/specimen/Overpass+Mono)
        %p Body Fonts (https://fonts.google.com/specimen/Roboto)
        %p Background Image (https://www.flickr.com/photos/keithusc/2784268444/in/photostream/)
        %p Breadcrumbs (http://stackoverflow.com/questions/17629286/css-vertical-line-between-bullets-in-an-unordered-list)
        %p Project Filtering (isotopejs)
        %p Parallax Banner (http://pixelcog.github.io/parallax.js/)
        %p Font Awesome (http://fontawesome.io/)
    / END CONTENT
    / START FOOTER
    %footer
      %div.links
        %a{:href => "style-guide.html"} Style Guide
        %span
          :escaped
            |
        %a{:href => "citations.html"} Citations
        %span
          :escaped
            |
        %a{:href => "https://github.com/dfpera/Portfolio"} Repo
      %p.copyright Daniele Perazzolo &copy; 2017
    / END FOOTER
    / START SCRIPTS
    /[if lt IE 9]
      %script{:src => "js/html5shiv.min.js"}
    %script{:src => "js/jquery-3.2.0.min.js"}
    %script{:src => "js/imagesloaded.min.js"}
    %script{:src => "js/isotope.min.js"}
    %script{:src => "js/highlight.pack.js"}
    %script{:src => "js/parallax.min.js"}
    %script{:src => "js/main.min.js"}
    / END SCRIPTS
