- require_relative 'components/head.haml'
    / START HEADER

    / END HEADER
    / START CONTENT
    /
      Change this into Citations
      Syntax Highlighting (https://highlightjs.org/)
    / END CONTENT
    / START FOOTER

    / END FOOTER
    / START SCRIPTS
    /[if lt IE 9]
      %script{:src => "js/html5shiv.min.js"}
    %script{:src => "js/highlight.pack.js"}
    %script{:src => "js/main.js"}
    / END SCRIPTS
