!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Daniele Perazzolo
    %link{:rel => "stylesheet", :href => "css/main.css"}
    %link{:rel => "stylesheet", :href => "js/styles/atom-one-light.css"}
  %body
    / START HEADER
    %header
      %div.fixed-nav
        %div.hide-sm.logo.col-sm-12.col-md-4
          %a{:href => "#"} DPerazzolo
        -#     %img{:src => "img/logo.png", :alt => "Daniele Perazzolo Logo"}
        %nav.main.col-sm-12.col-md-8
          %a{:href => "#"} About
          %a{:href => "#projects"} Projects
          %a{:href => "#contact"} Contact
      %div.banner{:data => {:parallax => "scroll", :img_src => "img/background.jpg"}}
        %div.intro
          %p portfolio:~ daniele$ hostname -s
          %h1 Daniele-Perazzolo
          %p portfolio:~ daniele$ ioreg -b -d 3
          %p +-o Root &lt;class IOregistry&gt;
          %p &nbsp;&nbsp;+-o <span>Web_Development</span> &lt;class&gt;
          %p &nbsp;&nbsp;+-o <span>Android-iOS_Development</span> &lt;class&gt;
          %p &nbsp;&nbsp;+-o <span>UX_Design</span> &lt;class&gt;
          %p.cursor portfolio:~ daniele$
    / END HEADER
    / START CONTENT
    %article.col-offset-md-4.col-md-8.col-lg-8
      %section.anchor.col-md-9.col-lg-8#about
        %h3 about
        %p.last Daniele is a User Experience (UX) developer and designer. He strives to make the smoothest and easiest experience for users in any environment through the understanding of both technology and design. It is not about tailoring the user to the product, but tailoring the product to its user. Currently he is finishing his Computing Science Undergraduate at Simon Fraser University (SFU), with a Minor in Graphic Design.
      %section.anchor.col-md-9.col-lg-8#skills
        %h3 skills
        %p.last Rails, Android, iOS, HTML5/CSS3 (haml/sass), js (jQuery, Bootstrap), SQL/NoSQL
      %section.anchor.col-md-9.col-lg-8
        %h3 other
        %p.last Team Player, Problem Solver, Attentive, Leader
      %section.anchor.col-md-9.col-lg-8#projects
        %h3 projects
        %div.button-group.filter-button-group
          %button.active{:data => {:filter => "*"}} show all
          %button{:data => {:filter => ".stack"}} full-stack web
          %button{:data => {:filter => ".ux"}} ux design
          %button{:data => {:filter => ".front"}} front-end web
          %button{:data => {:filter => ".back"}} back-end web
          %button{:data => {:filter => ".mobile"}} android/ios
        %div.projects
          %a.ux{:href => "ui-design.html"}
            %img{:src => "img/Makers-Assist/preview.png", :alt => "Makers Assist Preview"}
            %p.title makers assist
            %p.sub app interface design
          -# %a.ux.mobile{:href => "groundschool-anywhere.html"}
          -#   %img{:src => "img/Groundschool-Anywhere/preview.png", :alt => "Groundschool Anywhere Preview"}
          -#   %p.title groundschool anywhere
          -#   %p.sub app interface design, ios app development
          %a.stack.back{:href => "etextbook.html"}
            %img{:src => "img/Noted/preview.png", :alt => "Noted, Preview"}
            %p.title noted,
            %p.sub full-stack web development, database, security, restful operations
          %a.mobile{:href => "etextbook.html"}
            %img{:src => "img/eTextbook/preview.png", :alt => "eBooks Preview"}
            %p.title etextbook
            %p.sub android app development
          %a.ux.front{:href => "etextbook.html"}
            %img{:src => "img/Bubble-Tea/preview.png", :alt => "Bubble Tea Website Preview"}
            %p.title bubble tea website
            %p.sub interface design, front-end web
          %a.stack.back{:href => "etextbook.html"}
            %img{:src => "img/RESTful-Operations/preview.png", :alt => "RESTful Messages Preview"}
            %p.title RESTful messages
            %p.sub back-end web, restful operations
          %a.front.ux{:href => "etextbook.html"}
            %img{:src => "img/Websites/preview.png", :alt => "Miscellaneous Websites Preview"}
            %p.title miscellaneous websites
            %p.sub front-end web, seo, server maintenance
          %a.front{:href => "etextbook.html"}
            %img{:src => "img/Data-Visualization/preview.png", :alt => "Data Visualization Preview"}
            %p.title data visualization
            %p.sub front-end web, wireframe translation
      %section.anchor.col-md-9.col-lg-8#contact
        %h3 Contact
        %p Email: <a href="mailto:dperazzo@sfu.ca"> dperazzo@sfu.ca</a>
    / END CONTENT
    / START FOOTER
    %footer
      %div.links
        %a{:href => "style-guide.html"} Style Guide
        %span
          :escaped
            |
        %a{:href => "citations.html"} Citations
        %span
          :escaped
            |
        %a{:href => "https://github.com/dfpera/Portfolio"} Repo
      %p.copyright Daniele Perazzolo &copy; 2017
    / END FOOTER
    / START SCRIPTS
    /[if lt IE 9]
      %script{:src => "js/html5shiv.min.js"}
    %script{:src => "js/jquery-3.2.0.min.js"}
    %script{:src => "js/imagesloaded.min.js"}
    %script{:src => "js/isotope.min.js"}
    %script{:src => "js/highlight.pack.js"}
    %script{:src => "js/parallax.min.js"}
    %script{:src => "js/main.min.js"}
    / END SCRIPTS
