!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Style Guide - Daniele Perazzolo
    %link{:rel => "stylesheet", :href => "css/main.css"}
    %link{:rel => "stylesheet", :href => "js/styles/atom-one-light.css"}
  %body
    / START HEADER
    %header
      %nav.main

      %div.banner
        %div.intro
    / END HEADER
    / START CONTENT
    %aside.breadcrumbs.col-md-4
      %ul
        %li
          %a{:href => "#colors"} Colors
        %li
          %a{:href => "#grids"} Grids
        %li
          %a{:href => "#text"} Text
        %li
          %a{:href => "#navigation"}  Navigation
    %article.col-md-8
      %h1 Portfolio Style Guide
      %section
        %h2 Swatches
        %h3 Color Palette
        %div.col-sm-6.col-md-6.col-lg-4.swatch.light-grey
          %div
            %p #d9d1ce
            %p hsla(16, 13%, 83%, 1)
            %p rgba(217, 209, 206, 1)
          %div
            %p $light-grey
        %div.col-sm-6.col-md-6.col-lg-4.swatch.grey
          %div
            %p #b0a39d
            %p hsla(19, 11%, 65%, 1)
            %p rgba(176, 163, 157, 1)
          %div
            %p $grey
        %div.col-sm-6.col-md-6.col-lg-4.swatch.turquois
          %div
            %p #419a9e
            %p hsla(183, 42%, 44%, 1)
            %p rgba(65, 154, 158, 1)
          %div
            %p $turquois
        %div.col-sm-6.col-md-6.col-lg-4.swatch.dark-blue
          %div
            %p #20233d
            %p hsla(234, 31%, 18%, 1)
            %p rgba(32, 35, 61, 1)
          %div
            %p $dark-blue
        %div.col-sm-6.col-md-6.col-lg-4.swatch.red
          %div
            %p #c11b05
            %p hsla(7, 95%, 39%, 1)
            %p rgba(193, 27, 5, 1)
          %div
            %p $red
        %div.col-sm-6.col-md-6.col-lg-4.swatch.orange
          %div
            %p #f68948
            %p hsla(22, 91%, 62%, 1)
            %p rgba(246, 137, 72, 1)
          %div
            %p $orange
        %h3 UI Colors

      %section
        %h2 Grids
        %h3 Rendered Element

        %h3 Sample Code

      %section
        %h2 Text
        %p No monospace? Sans Serif if not using monospace. Roboto for the text for sure, it's clear, easy to read and common familiar font; don't need anything special for body text.
        %h3 Rendered Element

        %h3 Sample Code

      %section
        %h2 Main Navigation
        %h3 Rendered Element

        %h3 Sample Code

      %section
        %h2 Blog Posts
        %h3 Rendered Element

        %h3 Sample Code

      %section
        %h2 Individual Blog
        %h3 Rendered Element

        %h3 Sample Code

      %section
        %h2 Code Blocks
        %h3 Rendered Element
        %pre
          %code
            :preserve
              # The Greeter class
              class Greeter
                def initialize(name)
                  @name = name.capitalize
                end

                def salute
                  puts "Hello #{@name}!"
                end
              end

              g = Greeter.new("world")
              g.salute
        %h3 Sample Code
        %pre
          %code
            :preserve
              %pre
                %code
                  :preserve
                    / Place your code in here
      %section
        %h2 Footer
        %h3 Rendered Element

        %h3 Sample Code

    / END CONTENT
    / START FOOTER

    / END FOOTER
    / START SCRIPTS
    /[if lt IE 9]
      %script{:src => "js/html5shiv.min.js"}
    %script{:src => "js/jquery-3.2.0.min.js"}
    %script{:src => "js/isotope.min.js"}
    %script{:src => "js/highlight.pack.js"}
    %script{:src => "js/main.js"}
    / END SCRIPTS
