!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Style Guide - Daniele Perazzolo
    %link{:rel => "stylesheet", :href => "css/main.css"}
    %link{:rel => "stylesheet", :href => "js/styles/atom-one-light.css"}
    %style
      h3 { margin-top: 3.0rem; }
  %body
    / START HEADER
    %header
      %div.fixed-nav
        %div.hide-sm.logo.col-sm-12.col-md-4
          %a{:href => "#"} DPerazzolo
        -#     %img{:src => "img/logo.png", :alt => "Daniele Perazzolo Logo"}
        %nav.main.col-sm-12.col-md-8
          %a{:href => "index.html"} About
          %a{:href => "index.html#projects"} Projects
          %a{:href => "index.html#contact"} Contact
      %div.banner{:data => {:parallax => "scroll", :img_src => "img/background.jpg"}}
        %div.intro
          %p portfolio:~ daniele$ cd /home/Style-Guide
          %p portfolio:Style-Guide daniele$ basename /home/Style-Guide
          %h1 Style-Guide
          %p portfolio:Style-Guide daniele$ ls
          %p <span>Colors &nbsp;&nbsp;&nbsp; Text<br> Grids &nbsp;&nbsp;&nbsp;&nbsp; Navigation</span>
          %p.cursor portfolio:Style-Guide daniele$
    / END HEADER
    / START CONTENT
    %aside.breadcrumbs.col-md-4.col-lg-3
      %ul
        %li
          %a{:href => "#colors"} Colors
        %li
          %a{:href => "#grids"} Grids
        %li
          %a{:href => "#text"} Text
        %li
          %a{:href => "#navigation"}  Navigation
        %li
          %a{:href => "#other"} Other
    %article.col-md-8.col-offset-lg-1.col-lg-8{:data => {:side => "true"}}
      %h2 Portfolio Style Guide
      %section.anchor#colors
        %h3 Swatches
        %h4 Color Palette
        %div.col-sm-6.col-md-6.col-lg-4.swatch.light-grey
          %div
            %p #d9d1ce
            %p hsla(16, 13%, 83%, 1)
            %p rgba(217, 209, 206, 1)
          %div
            %p $light-grey
        %div.col-sm-6.col-md-6.col-lg-4.swatch.grey
          %div
            %p #b0a39d
            %p hsla(19, 11%, 65%, 1)
            %p rgba(176, 163, 157, 1)
          %div
            %p $grey
        %div.col-sm-6.col-md-6.col-lg-4.swatch.turquois
          %div
            %p #419a9e
            %p hsla(183, 42%, 44%, 1)
            %p rgba(65, 154, 158, 1)
          %div
            %p $turquois
        %div.col-sm-6.col-md-6.col-lg-4.swatch.dark-blue
          %div
            %p #20233d
            %p hsla(234, 31%, 18%, 1)
            %p rgba(32, 35, 61, 1)
          %div
            %p $dark-blue
        %div.col-sm-6.col-md-6.col-lg-4.swatch.red
          %div
            %p #c11b05
            %p hsla(7, 95%, 39%, 1)
            %p rgba(193, 27, 5, 1)
          %div
            %p $red
        %div.col-sm-6.col-md-6.col-lg-4.swatch.orange
          %div
            %p #f68948
            %p hsla(22, 91%, 62%, 1)
            %p rgba(246, 137, 72, 1)
          %div
            %p $orange
      %section.anchor#text
        %h3 Text
        %header
          %div.banner{:data => {:parallax => "scroll", :img_src => "img/background.jpg"}}
            %div.intro
              %p portfolio:~ daniele$ cd /home/projects/projectName
              %p portfolio:projectName daniele$ basename /home/projects/projectName
              %h1 Heading 1
              %p portfolio:projectName daniele$ ls
              %p <span>Description &nbsp; Initial Design<br> Research &nbsp;&nbsp;&nbsp;&nbsp; Testing/Struggles<br> Proposal &nbsp;&nbsp;&nbsp;&nbsp; Final Design</span>
              %p.cursor portfolio:projectName daniele$
        %h2 Heading 2
        %h3{:style => "margin-top: 0;"} Heading 3
        %h4 Heading 4
        %h5 Heading 5
        %p No monospace? Sans Serif if not using monospace. Roboto for the text for sure, it's clear, easy to read and common familiar font; don't need anything special for body text.
      %section.anchor#navigation
        %h3 Header
        %h4 Rendered element
        %header
          %div.fixed-nav-sample
            %div.hide-sm.logo.col-sm-12.col-md-4
              %a{:href => "#"} DPerazzolo
            -#     %img{:src => "img/logo.png", :alt => "Daniele Perazzolo Logo"}
            %nav.main.col-sm-12.col-md-8
              %a{:href => "index.html"} About
              %a{:href => "index.html#projects"} Projects
              %a{:href => "index.html#contact"} Contact
          %div.banner{:data => {:parallax => "scroll", :img_src => "img/background.jpg"}}
            %div.intro
              %p portfolio:~ daniele$ hostname -s
              %h1 Daniele-Perazzolo
              %p portfolio:~ daniele$ ioreg -b -d 3
              %p +-o Root &lt;class IOregistry&gt;
              %p &nbsp;&nbsp;+-o <span>Web_Development</span> &lt;class&gt;
              %p &nbsp;&nbsp;+-o <span>Android-iOS_Development</span> &lt;class&gt;
              %p &nbsp;&nbsp;+-o <span>UX_Design</span> &lt;class&gt;
              %p.cursor portfolio:~ daniele$
        %h4 Sample Code
        %pre
          %code
            :preserve
              %header
                %div.fixed-nav
                  %div.hide-sm.logo.col-sm-12.col-md-4
                    %a{:href => "#"} DPerazzolo
                  -#     %img{:src => "img/logo.png", :alt => "Daniele Perazzolo Logo"}
                  %nav.main.col-sm-12.col-md-8
                    %a{:href => "index.html"} About
                    %a{:href => "index.html#projects"} Projects
                    %a{:href => "index.html#contact"} Contact
                %div.banner{:data => {:parallax => "scroll", :img_src => "img/background.jpg"}}
                  %div.intro
                    %p portfolio:~ daniele$ hostname -s
                    %h1 Daniele-Perazzolo
                    %p portfolio:~ daniele$ ioreg -b -d 3
                    %p +-o Root &lt;class IOregistry&gt;
                    %p &nbsp;&nbsp;+-o <span>Web_Development</span> &lt;class&gt;
                    %p &nbsp;&nbsp;+-o <span>Android-iOS_Development</span> &lt;class&gt;
                    %p &nbsp;&nbsp;+-o <span>UX_Design</span> &lt;class&gt;
                    %p.cursor portfolio:~ daniele$
      %section
        %h3 Main Navigation
        %h4 Rendered Element
        %p Look at the top of the screen. It's being rendered there.
        %h4 Sample Code
        %pre
          %code
            :preserve
              %header
                %div.fixed-nav
                  %div.hide-sm.logo.col-sm-12.col-md-4
                    %a{:href => "#"} DPerazzolo
                  -#     %img{:src => "img/logo.png", :alt => "Daniele Perazzolo Logo"}
                  %nav.main.col-sm-12.col-md-8
                    %a{:href => "index.html"} About
                    %a{:href => "index.html#projects"} Projects
                    %a{:href => "index.html#contact"} Contact
      %section
        %h3 Breadcrumbs
        %h4 Rendered Element
        %aside.breadcrumbs-sample.col-md-4.col-lg-3
          %ul
            %li
              %a{:href => "#"} Section 1
            %li
              %a{:href => "#"} Section 2
            %li
              %a{:href => "#"} Section 3
        %h4.clearfix Sample Code
        %pre
          %code
            :preserve
              %aside.breadcrumbs.col-md-4.col-lg-3
                %ul
                  %li
                    %a{:href => "#"} Section 1
                  %li
                    %a{:href => "#"} Section 2
      %section.anchor#other
        %h3 Projects
        %h4 Rendered Element
        %div.button-group.filter-button-group
          %button.active{:data => {:filter => "*"}} show all
          %button{:data => {:filter => ".ux"}} ux design
          %button{:data => {:filter => ".mobile"}} android/ios
        %div.projects
          %a.ux{:href => "ui-design.html"}
            %img{:src => "img/Makers-Assist/preview.png", :alt => "Makers Assist Preview"}
            %p.title makers assist
            %p.sub app interface design
          %a.mobile{:href => "etextbook.html"}
            %img{:src => "img/eTextbook/preview.png", :alt => "eBooks Preview"}
            %p.title etextbook
            %p.sub android app development
        %h4 Sample Code
        %pre
          %code
            :preserve
              %div.button-group.filter-button-group
                %button.active{:data => {:filter => "*"}} show all
                %button{:data => {:filter => ".ux"}} ux design
                %button{:data => {:filter => ".mobile"}} android/ios
              %div.projects
                %a.ux{:href => "ui-design.html"}
                  %img{:src => "img/Makers-Assist/preview.png", :alt => "Makers Assist Preview"}
                  %p.title makers assist
                  %p.sub app interface design
                %a.mobile{:href => "etextbook.html"}
                  %img{:src => "img/eTextbook/preview.png", :alt => "eBooks Preview"}
                  %p.title etextbook
                  %p.sub android app development
      %section
        %h3 Code Blocks
        %h4 Rendered Element
        %pre
          %code
            :preserve
              # The Greeter class
              class Greeter
                def initialize(name)
                  @name = name.capitalize
                end

                def salute
                  puts "Hello #{@name}!"
                end
              end

              g = Greeter.new("world")
              g.salute
        %h4 Sample Code
        %pre
          %code
            :preserve
              %pre
                %code
                  :preserve
                    / Place your code in here
      %section
        %h3 Footer
        %h4 Rendered Element
        %footer
          %div.links
            %a{:href => "style-guide.html"} Style Guide
            %span
              :escaped
                |
            %a{:href => "citations.html"} Citations
          %p.copyright Daniele Perazzolo &copy; 2017
        %h4 Sample Code
        %pre
          %code
            :preserve
              %footer
                %div.links
                  %a{:href => "style-guide.html"} Style Guide
                  %span
                    :escaped
                      |
                  %a{:href => "citations.html"} Citations
                %p.copyright Daniele Perazzolo &copy; 2017
    / END CONTENT
    / START FOOTER
    %footer
      %div.links
        %a{:href => "style-guide.html"} Style Guide
        %span
          :escaped
            |
        %a{:href => "citations.html"} Citations
        %span
          :escaped
            |
        %a{:href => "https://github.com/dfpera/Portfolio"} Repo
      %p.copyright Daniele Perazzolo &copy; 2017
    / END FOOTER
    / START SCRIPTS
    /[if lt IE 9]
      %script{:src => "js/html5shiv.min.js"}
    %script{:src => "js/jquery-3.2.0.min.js"}
    %script{:src => "js/imagesloaded.min.js"}
    %script{:src => "js/isotope.min.js"}
    %script{:src => "js/highlight.pack.js"}
    %script{:src => "js/parallax.min.js"}
    %script{:src => "js/main.min.js"}
    / END SCRIPTS
