/*! Add all breadcrumbs styles here */
aside.breadcrumbs {
  margin-top: 1.0rem;
  font-family: $heading-font;
}

aside.breadcrumbs ul {
  position: fixed;
  top: 0.5rem;
  width: 31%;
  height: 100%;
  border-right: $code-border;
}

aside.breadcrumbs ul > li {
  color: map-get($orange, $hsla);
  padding-left: 1.0rem;
  position:relative;
  margin-bottom: 0;
  padding-bottom: 1.5em;
}

aside.breadcrumbs ul > li > a {
  font-size: 1.7rem;
  font-weight: 600;
  color: map-get($orange, $hsla);
  text-decoration: none;
}

aside.breadcrumbs ul > li:hover > a {
  color: map-get($turquois, $hsla);
  background-color: map-get($light-grey, $hsla);
}

aside.breadcrumbs ul > li:hover:after {
  color: map-get($turquois, $hsla);
}

aside.breadcrumbs ul > li:after {
  /* Adding the bullet */
  content: "\25CF";
  font-size: 50px;
  position: absolute;
  left: -30px;
  top: -15px;
}

aside.breadcrumbs ul > li:before {
  /* Adding the line */
  content:"";
  position: absolute;
  left: -19px; /* adjust manually */
  border-left: 8px solid map-get($orange, $hsla);
  height: 100%;
  width: 1px;
}

aside.breadcrumbs ul > li:first-child:before {
  /* Moving down the top line */
  top: 6px;
}

aside.breadcrumbs ul > li:last-child:before {
  /* Shortening the bottom line */
  height: 6px;
}
