/*! Add all breadcrumbs styles here */
aside.breadcrumbs {
  font-family: $heading-font;
  text-align: center;
  @include breakpoint(sm) {
    text-align: left;
  }

  input[type="checkbox"] {
    display: block;
    width: 100%;
    height: var(--space-xl);
    position: absolute;
    cursor: pointer;
    opacity: 0; // Hide the checkbox
    z-index: var(--zindex-breadcrumbs-checkbox); // Place over top of hamburger
    @include breakpoint(sm) {
      display: none;
    }

    // Interactions
    &:hover ~ .breadcrumbs--burger > span {
      background: var(--color-primary);
    }
    &:hover ~ .breadcrumbs--text {
      color: var(--color-primary);
    }
  }

  .breadcrumbs--text {
    font-weight: bold;
    font-size: var(--text-md);
    transition: color 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    @include breakpoint(sm) {
      display: none;
    }
  }

  .breadcrumbs--burger {
    display: inline-block;
    margin-bottom: -9px;
    @include breakpoint(sm) {
      display: none;
    }

    > span {
      display: block;
      width: 29px;
      height: 4px;
      margin-bottom: 5px;
      position: relative;
      background: var(--black);
      border-radius: 3px;
      z-index: var(--zindex-breadcrumbs-span);
      transform-origin: 4px 0px;
      transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0), background 0.5s cubic-bezier(0.77,0.2,0.05,1.0), opacity 0.55s ease;

      // Set transformation origin
      &:first-child {
        transform-origin: 0% 0%;
      }
      &:last-child {
        transform-origin: 0% 100%;
      }
    }
  }

  /* 
  * Transform all the slices of hamburger
  * into a crossmark.
  */
  input:checked ~ .breadcrumbs--burger > span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: var(--color-primary);

    // Hide the meat
    &:nth-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2);
    }

    // Bottom bun transform opposite direction of top bun
    &:last-child {
      transform: rotate(-45deg) translate(0, -1px);
    }
  }

  hr {
    margin-top: var(--space-md);
    margin-bottom: var(--space-sm);
    @include breakpoint(sm) {
      display: none;
    }
  }

  // Display the menu
  input:checked ~ ul {
    transform: none;
    display: inline-block
  }

  ul {
    z-index: var(--zindex-breadcrumbs-ul);
    margin: 0 auto;
    display: none;
    @include breakpoint(sm) {
      display: inline-block;
      float: right;
    }

    > li {
      display: block;
      color: var(--color-primary);
      margin: var(--space-xs) auto;
      text-indent: calc(-1 * var(--space-md));

      &:before {
        content: "#";
        padding-right: var(--space-sm);
        color: var(--color-contrast-warm-low);
      }
    }
  }
}
