// /*! Add isotopejs styles here */
.button-group {
  margin-bottom: var(--space-unit);

  button {
    background: none;
    border: 2px solid var(--color-primary);
    color: var(--color-primary-dark);
    border-radius: var(--radius);
    padding: var(--space-xs) var(--space-unit);
    letter-spacing: 1px;
    font-family: var(--font-secondary);
    font-size: var(--text-sm);
    font-weight: 600;
    transition: background 0.5s ease-out;
    margin-bottom: var(--space-xs);
    margin-right: var(--space-xs);
  }

  button.active,
  button:hover,
  button:focus {
    outline: 0;
    background: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
  }
}
