// /*! Add project specific stles in here */
.specifications {
  @include gridFallback(var(--space-md));

  @supports (grid-area: auto) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: var(--space-md);
    align-content: start;
  }
  padding-right: var(--space-md);
  padding-left: var(--space-md);
  text-align: center;
  @include breakpoint(sm) {
    padding-right: var(--space-sm);
    padding-left: 0;
    text-align: left;
  }

  .specifications--item {
    @include column(1/2);
    grid-column: span 1;

    @include breakpoint(sm) {
      @include column(1);
      grid-column: span 2;
    }

    p {
      margin-bottom: var(--space-sm);
      font-size: var(--text-sm);
      font-style: italic;
    }
    p:last-child {
      margin-bottom: var(--space-xs);
    }
  }
}

.video {
  min-height: 20em;
  padding-bottom: 1.0rem;
  padding-left: 0 !important;
  width: 100%;
}


.projects {
  width: 100%;

  a {
    text-decoration: none;
    color: var(--color-black);
    float: left;
    padding-bottom: var(--space-lg);
    padding-right: 0;
    width: 100%;
    @include breakpoint(sm) {
      width: 50%;
      padding-right: var(--space-md);
    }
    @include breakpoint(md) {
      width: 50%;
    }
    @include breakpoint(lg) {
      width: 25%;
    }

    > img {
      width: 100%;
      margin-bottom: var(--space-xs);
      box-shadow: 0 0 3px var(--color-black-a80);
      opacity: 0.7;
      transition: opacity 0.5s ease-out;
    }
    &:hover > img,
    &:focus > img {
      opacity: 1.0;
    }

    > p.title {
      padding: 0;
      margin: 0;
      font-size: var(--text-md);
      font-weight: bold;
      font-family: var(--font-secondary);
      transition: color 0.5s ease-out;
      line-height: 1.2;
      margin-bottom: var(--space-xxxs);
    }
    &:hover > p.title,
    &:focus > p.title {
      color: var(--color-primary);
    }

    > p.sub {
      font-family: var(--font-primary);
      padding: 0;
      margin: 0;
      font-style: italic;
      line-height: 1.2;
    }
  }
}
