// /*! Add all swatch styles here */
.swatches {
  @include gridFallback(var(--space-md));

  @supports (grid-area: auto) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: var(--space-md);
  }
}

.swatch {
  @include column(1);
  grid-column: span 4;

  @include breakpoint(sm) {
    @include column(1/2);
    grid-column: span 2;
  }
  @include breakpoint(md) {
    @include column(1/2);
    grid-column: span 2;
  }
  @include breakpoint(lg) {
    @include column(1/4);
    grid-column: span 1;
  }

  > .variable {
    width: 100%;
    border: var(--color-contrast-medium) solid 1px;
    border-radius: var(--radius);
    text-align: center;
    color: var(--color-black);
    padding: var(--space-xs) var(--space-xxxs);
    margin-bottom: var(--space-xxxs);
  }

  .colors {
    width: 100%;
    border-radius: var(--radius);
    background-image: url('/img/Transparent-BG.png');
  }

  .color {
    width: 100%;
    padding: var(--space-xs) var(--space-xxxs);
    text-align: center;
    min-height: 34px;
    
    &:first-child {
      border-top-right-radius: var(--radius);
      border-top-left-radius: var(--radius);
    }
    &:last-child {
      border-bottom-right-radius: var(--radius);
      border-bottom-left-radius: var(--radius);
    }

    // Primary
    &.--color-primary-darker {
      background-color: var(--color-primary-darker);
      p {
        color: var(--color-white);
      }
    }
    &.--color-primary-dark {
      background-color: var(--color-primary-dark);
      p {
        color: var(--color-white);
      }
    }
    &.--color-primary {
      background-color: var(--color-primary);
    }
    &.--color-primary-light {
      background-color: var(--color-primary-light);
    }
    &.--color-primary-lighter {
      background-color: var(--color-primary-lighter);
    }
    &.--color-primary-a30 {
      background-color: var(--color-primary-a30);
    }

    // Accent
    &.--color-accent-darker {
      background-color: var(--color-accent-darker);
      p {
        color: var(--color-white);
      }
    }
    &.--color-accent-dark {
      background-color: var(--color-accent-dark);
      p {
        color: var(--color-white);
      }
    }
    &.--color-accent {
      background-color: var(--color-accent);
    }
    &.--color-accent-light {
      background-color: var(--color-accent-light);
    }
    &.--color-accent-lighter {
      background-color: var(--color-accent-lighter);
    }

    // Black
    &.--color-black {
      background-color: var(--color-black);
      p {
        color: var(--color-white);
      }
    }
    &.--color-black-a80 {
      background-color: var(--color-black-a80);
      p {
        color: var(--color-white);
      }
    }
    &.--color-black-a10 {
      background-color: var(--color-black-a10);
    }

    // White
    &.--color-white {
      background-color: var(--color-white);
      border: var(--color-border) solid 1px;
    }

    // Success
    &.--color-success-darker {
      background-color: var(--color-success-darker);
      p {
        color: var(--color-white);
      }
    }
    &.--color-success-dark {
      background-color: var(--color-success-dark);
      p {
        color: var(--color-white);
      }
    }
    &.--color-success {
      background-color: var(--color-success);
    }
    &.--color-success-light {
      background-color: var(--color-success-light);
    }
    &.--color-success-lighter {
      background-color: var(--color-success-lighter);
    }
    &.--color-success-a20 {
      background-color: var(--color-success-a20);
    }

    // Error
    &.--color-error-darker {
      background-color: var(--color-error-darker);
      p {
        color: var(--color-white);
      }
    }
    &.--color-error-dark {
      background-color: var(--color-error-dark);
      p {
        color: var(--color-white);
      }
    }
    &.--color-error {
      background-color: var(--color-error);
    }
    &.--color-error-light {
      background-color: var(--color-error-light);
    }
    &.--color-error-lighter {
      background-color: var(--color-error-lighter);
    }
    &.--color-error-a20 {
      background-color: var(--color-error-a20);
    }

    // Warning
    &.--color-warning-darker {
      background-color: var(--color-warning-darker);
      p {
        color: var(--color-white);
      }
    }
    &.--color-warning-dark {
      background-color: var(--color-warning-dark);
      p {
        color: var(--color-white);
      }
    }
    &.--color-warning {
      background-color: var(--color-warning);
    }
    &.--color-warning-light {
      background-color: var(--color-warning-light);
    }
    &.--color-warning-lighter {
      background-color: var(--color-warning-lighter);
    }
    &.--color-warning-a20 {
      background-color: var(--color-warning-a20);
    }

    // Contrast
    &.--color-contrast-lower {
      background-color: var(--color-contrast-lower);
    }
    &.--color-contrast-low {
      background-color: var(--color-contrast-low);
    }
    &.--color-contrast-medium {
      background-color: var(--color-contrast-medium);
    }
    &.--color-contrast-high {
      background-color: var(--color-contrast-high);
      p {
        color: var(--color-white);
      }
    }
    &.--color-contrast-higher {
      background-color: var(--color-contrast-higher);
      p {
        color: var(--color-white);
      }
    }
    &.--color-contrast-a45 {
      background-color: var(--color-contrast-a45);
    }

    &.--color-bg {
      background-color: var(--color-bg);
      border: var(--color-border) solid 1px;
    }
    &.--color-bg-a20 {
      background-color: var(--color-bg-a20);
    }
  }

  p {
    padding: 0;
    margin: 0;
    font-size: var(--text-sm);
    letter-spacing: 1px;
  }
}
