//- etextbook.pug
include modules/_head
include modules/_header
include modules/_breadcrumbs
include modules/_projects
include modules/_style-guide.pug

doctype html
html
  +head('Style Guide - Daniele Perazzolo')
  body.parent
    +header_project(
      'Style-Guide',
      ['Colors', 'Text'],
      ['Grids', 'Navigation']
    )
    +breadcrumbs(
      ['#typography', 'typography'],
      ['#colors', 'colors'],
      ['#layouts', 'grids/layout'],
      ['#buttons', 'buttons'],
      ['#header', 'header'],
      ['#footer', 'footer'],
      ['#components', 'components']
    )
    article.mainContent.text-component(data-side='true')
      h2 style guide
      p.heading-sub portfolio
      hr
      section#typography.anchor
        h3 typography
        h1 heading 1
        h2 heading 2
        h3 heading 3
        h4 heading 4
        h5 heading 5
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam animi doloribus voluptates 
          a(href='#') adipisci commodi 
          | odit architecto consectetur laudantium veniam esse minima expedita aperiam nesciunt, quae dignissimos! Natus, itaque. Praesentium, voluptatibus.
        p.text--suble.text--sm Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam, fuga animi! Vero reiciendis aliquid et natus quae mollitia optio vel iure, totam saepe dolorem deleniti doloribus animi modi maiores in.
        h1 heading 1
        p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim eveniet corporis omnis cumque impedit 
          s ipsum temporibus tempore alias vero
          |  molestiae asperiores architecto, rerum voluptates nam mollitia suscipit officia incidunt! Voluptas.
        p
          a.btn.btn--primary(href='#') Button
        h2 heading 2
        p Lorem ipsum dolor sit amet consectetur adipisicing elit. A accusamus totam voluptas animi, dolores rerum blanditiis molestias excepturi sequi! Ipsum quod neque repellat nihil, excepturi ab dolore maiores autem facere!
        blockquote (blockquote) Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas qui alias numquam eum soluta temporibus tempora sequi fugit eaque? Tempora totam nostrum sed minus molestias corrupti optio iste perspiciatis nesciunt!
        h3 heading 3
        p.drop-cap Lorem ipsum dolor sit amet consectetur adipisicing elit.
          mark Sequi voluptate voluptas recusandae
          |  perspiciatis delectus quidem quod facilis error quisquam maiores velit minus, itaque mollitia consequuntur a, numquam tenetur aliquam amet. Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi explicabo molestias ad cumque, sint voluptatibus veniam asperiores amet saepe excepturi voluptate, iusto quia corrupti quasi consequuntur, suscipit fugiat nobis aperiam.
        ul
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, eos illo velit sequi. 
          li Et aspernatur nisi temporibus qui alias quasi dignissimos harum minus asperiores dolor.
          li Ad debitis reprehenderit animi expedita.
        h4 heading 4
        ol
          li Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem, eos illo velit sequi. 
          li Et aspernatur nisi temporibus qui alias quasi dignissimos harum minus asperiores dolor.
          li Ad debitis reprehenderit animi expedita.
      hr
      section#colors.anchor
        h3 colors
        h4 main
        .swatches
          +swatch(
            '--color-primary',
            [
              '-darker',
              '-dark',
              '',
              '-light',
              '-lighter',
              '-a20'
            ]
          )
          +swatch(
            '--color-accent',
            [
              '-darker',
              '-dark',
              '',
              '-light',
              '-lighter'
            ]
          )
        h4 black &amp; white
        .swatches
          +swatch(
            '--black',
            [
              '',
              '-a10'
            ]
          )
          +swatch(
            '--white',
            [
              ''
            ]
          )
        h4 feedback
        .swatches
          +swatch(
            '--color-success',
            [
              '-darker',
              '-dark',
              '',
              '-light',
              '-lighter',
              '-a20'
            ]
          )
          +swatch(
            '--color-error',
            [
              '-darker',
              '-dark',
              '',
              '-light',
              '-lighter',
              '-a20'
            ]
          )
          +swatch(
            '--color-warning',
            [
              '-darker',
              '-dark',
              '',
              '-light',
              '-lighter',
              '-a20'
            ]
          )
        h4 contrast
        .swatches
          +swatch(
            '--color-contrast-cold',
            [
              '-lower',
              '-low',
              '-medium',
              '-high',
              '-higher',
              '-a90'
            ]
          )
          +swatch(
            '--color-contrast-warm',
            [
              '-lower',
              '-low',
              '-medium',
              '-high',
              '-higher',
              '-a90'
            ]
          )
          +swatch(
            '--color-bg',
            [
              '',
              '-a20'
            ]
          )

      hr
      section#layouts.anchor
        h3 grids / layouts
        h4 grids
        p Example of the grid structure used, and all combinations of columns which can be used within the website.
        .parent.sample-grid
          //- Row one
          .sample-1of7
            p.truncate 1of7
          .sample-1of7
            p.truncate 1of7
          .sample-1of7
            p.truncate 1of7
          .sample-1of7
            p.truncate 1of7
          .sample-1of7
            p.truncate 1of7
          .sample-1of7
            p.truncate 1of7
          .sample-1of7
            p.truncate 1of7
          //- Row two
          .sample-2of7
            p.truncate 2of7
          .sample-4of7
            p.truncate 4of7
          .sample-1of7
            p.truncate 1of7
          //- Row three
          .sample-2of7
            p.truncate 2of7
          .sample-5of7
            p.truncate 5of7
          //- Row four
          .sample-7of7
            p.truncate 7of7


        h4 layouts
        p Layout used for pages without a sidebar or details.
        .parent.sample-grid
          .sample-header
            p.truncate header
          .sample-content
            p.truncate content
          .sample-footer
            p.truncate footer
        hr
        p Layout used for projects and any page that needs a sidebar.
        .parent.sample-grid
          .sample-header
            p.truncate header
          .sample-aside
            p.truncate sidebar
          .sample-content
            p.truncate content
          .sample-details
            p.truncate details
          .sample-footer
            p.truncate footer

      hr
      section#buttons.anchor
        h3 buttons
        h4 themes
        .btns
          .btn Text
          .btn.btn--primary Primary
          .btn.btn--subtle Subtle
          .btn.btn--accent Accent
          .btn.btn--primary.btn--disabled Disabled
        h4 sizes
        .btns.margin-bottom--xs
          .btn.btn--primary.btn--sm Button sm
          .btn.btn--primary Button
          .btn.btn--primary.btn--md Button md
          .btn.btn--primary.btn--lg Button lg
        .btns
          .btn.btn--primary.btn--full-width Button full width
      hr
      section#components.anchor
        h3 forms
        p.text--xxxl TODO: Implement form for contact

      hr
      section#header.anchor
        h3 header
        p Header used on the home page, has slightly different formatting than the header used on all subsequent pages.
        +header_home()(class="sample-header")
        p Header used on non-home pages, will indicate page title and subheadings.
        +header_project(
          'Page-Title',
          ['Heading1', 'Heading2'],
          ['Heading3', 'Heading4']
        )(class="sample-header")
      hr
      section#footer.anchor
        h3 footer
        include modules/_footer.pug

      hr
      section#components.anchor
        h3 components
        h4 breadcrumbs
        +breadcrumbs(
          ['#', 'subheading1'],
          ['#', 'subheading2'],
          ['#', 'subheading3'],
          ['#', 'subheading4']
        )
        .clearfix
        h4 projects
        .button-group.filter-button-group
          button.active(data-filter='*') show all
          button(data-filter='.ux') ux design
          button(data-filter='.mobile') android/ios
        .projects
          a.ux(href='ui-design.html')
            img(src='/img/Makers-Assist-Preview.png', alt='Makers Assist Preview')
            p.title makers assist
            p.sub app interface design
          a.mobile(href='etextbook.html')
            img(src='/img/eTextbook-Preview.png', alt='eBooks Preview')
            p.title etextbook
            p.sub android app development

      hr
    include modules/_footer.pug
    include modules/_scripts.pug
