!!! 5
%html{:lang => 'en'}
  %head
    %meta{:charset => "utf-8" }
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
    %title Citations - Daniele Perazzolo
    %link{:rel => "stylesheet", :href => "css/main.css"}
    %link{:rel => "stylesheet", :href => "js/styles/atom-one-light.css"}
  %body
