/*! Add all grid styles into this style sheet */
* {
  box-sizing: border-box;
}

.parent {
  @include gridFallback(var(--space-md));

  @supports (grid-area: auto) {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: var(--space-md);
  }
}

// [class*='col-'] {
//   float: left;
//   width: 100%;
//   padding-left: 0.5rem;
//   padding-right: 0.5rem;
// }

// .row::after {
//   content: "";
//   display: block;
//   clear: both;
// }

// /*! Smartwatch Grids */
// @media #{$small-break} {
//   .col-sm-1 { width: 8.33%; }
//   .col-sm-2 { width: 16.66%; }
//   .col-sm-3 { width: 25%; }
//   .col-sm-4 { width: 33.33%; }
//   .col-sm-5 { width: 41.66%; }
//   .col-sm-6 { width: 50%; }
//   .col-sm-7 { width: 58.33%; }
//   .col-sm-8 { width: 66.66%; }
//   .col-sm-9 { width: 75%; }
//   .col-sm-10 { width: 83.33%; }
//   .col-sm-11 { width: 91.66%; }
//   .col-sm-12 { width: 100%; }
//   .col-offset-sm-1 { margin-left: 8.33%; }
//   .col-offset-sm-2 { margin-left: 16.66%; }
//   .col-offset-sm-3 { margin-left: 25%; }
//   .col-offset-sm-4 { margin-left: 33.33%; }
//   .col-offset-sm-5 { margin-left: 41.66%; }
//   .col-offset-sm-6 { margin-left: 50%; }
//   .col-offset-sm-7 { margin-left: 58.33%; }
//   .col-offset-sm-8 { margin-left: 66.66%; }
//   .col-offset-sm-9 { margin-left: 75%; }
//   .col-offset-sm-10 { margin-left: 83.33%; }
//   .col-offset-sm-11 { margin-left: 91.66%; }
//   .col-offset-sm-12 { margin-left: 100%; }
//   .hide-sm { display: none; }
// }

// /*! Smartphone Grids */
// @media #{$medium-break} {
//   .col-md-1 { width: 8.33%; }
//   .col-md-2 { width: 16.66%; }
//   .col-md-3 { width: 25%; }
//   .col-md-4 { width: 33.33%; }
//   .col-md-5 { width: 41.66%; }
//   .col-md-6 { width: 50%; }
//   .col-md-7 { width: 58.33%; }
//   .col-md-8 { width: 66.66%; }
//   .col-md-9 { width: 75%; }
//   .col-md-10 { width: 83.33%; }
//   .col-md-11 { width: 91.66%; }
//   .col-md-12 { width: 100%; }
//   .col-offset-md-1 { margin-left: 8.33%; }
//   .col-offset-md-2 { margin-left: 16.66%; }
//   .col-offset-md-3 { margin-left: 25%; }
//   .col-offset-md-4 { margin-left: 33.33%; }
//   .col-offset-md-5 { margin-left: 41.66%; }
//   .col-offset-md-6 { margin-left: 50%; }
//   .col-offset-md-7 { margin-left: 58.33%; }
//   .col-offset-md-8 { margin-left: 66.66%; }
//   .col-offset-md-9 { margin-left: 75%; }
//   .col-offset-md-10 { margin-left: 83.33%; }
//   .col-offset-md-11 { margin-left: 91.66%; }
//   .col-offset-md-12 { margin-left: 100%; }
//   .hide-md { display: none; }
// }

// /*! Console Grids */
// @media #{$large-break} {
//   .col-lg-1 { width: 8.33%; }
//   .col-lg-2 { width: 16.66%; }
//   .col-lg-3 { width: 25%; }
//   .col-lg-4 { width: 33.33%; }
//   .col-lg-5 { width: 41.66%; }
//   .col-lg-6 { width: 50%; }
//   .col-lg-7 { width: 58.33%; }
//   .col-lg-8 { width: 66.66%; }
//   .col-lg-9 { width: 75%; }
//   .col-lg-10 { width: 83.33%; }
//   .col-lg-11 { width: 91.66%; }
//   .col-lg-12 { width: 100%; }
//   .col-offset-lg-1 { margin-left: 8.33%; }
//   .col-offset-lg-2 { margin-left: 16.66%; }
//   .col-offset-lg-3 { margin-left: 25%; }
//   .col-offset-lg-4 { margin-left: 33.33%; }
//   .col-offset-lg-5 { margin-left: 41.66%; }
//   .col-offset-lg-6 { margin-left: 50%; }
//   .col-offset-lg-7 { margin-left: 58.33%; }
//   .col-offset-lg-8 { margin-left: 66.66%; }
//   .col-offset-lg-9 { margin-left: 75%; }
//   .col-offset-lg-10 { margin-left: 83.33%; }
//   .col-offset-lg-11 { margin-left: 91.66%; }
//   .col-offset-lg-12 { margin-left: 100%; }
//   .hide-lg { display: none; }
// }
